.notification {
  background: rgba($color: #000000, $alpha: 0.4);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
  display: grid;
  place-content: center;
  transition: all 0.3s ease-in-out;
  transform: scale(0);

  &.open {
    transform: scale(1);
  }

  &-alert {
    width: 500px;
    height: 150px;
    background: #fff;
    display: grid;
    place-content: center;
    position: relative;

    @media (max-width: 425px) {
      width: 300px;
    }

    .done {
      position: absolute;
      right: 1rem;
      top: 1rem;
      cursor: pointer;
      img {
        width: 25px;
        height: 25px;
      }
    }

    p {
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      text-align: center;
      letter-spacing: 2.16px;
      color: #000000;

      @media (max-width: 425px) {
        font-size: 0.9rem;
        line-height: 1.6;
      }
    }
  }
}
